@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Supernatural';
    src: url(Supernatural_Knight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(78, 1, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
header{
    background-color: white;

    h1{
        color: white;
    }
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding-top: 20px;

}

header img{
    width: 150px;
    padding-bottom: 20px;
}

main{
    display: flex;
    margin-top: 350px;
    flex-direction: column;
    align-items: center;
}

.pers-container{
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 1200px;
    border: solid 4px black;
    border-radius: 20px;
    padding: 20px;
}

.pers-indv{
    max-height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    img{
        border: solid 2px rgb(78, 1, 1);
    }

    img:hover{
        transition: 2s;
        scale: 1.1;
        border: solid 2px rgb(78, 1, 1);
    }

    
}

.pers-indv img{
    width: 300px;
    height: 400px;
}

nav{
    width: 100%;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
    background-color: black;
}

nav ul{
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li{
        margin-left: -4px;
        color: white;
        width: 90px;
        text-align: center;
        justify-content: center;
        display: inline-block;
        padding: 14px;
        border-right: solid 2px white;
        padding-left: 4px;
        padding-right: 4px;
    }
}

.active{
    background-color: rgb(78, 1, 1);
}

#nav-sobre{
    border-right: solid 2px white;
}

.pers-desc{
    display: flex;
    flex-direction: column;
}

.indv-desc{
    display: flex;
    align-items: center;
    background-image: url(img-indv/fundo2.jpg);
    background-size: 100%;
    margin: 100px;
    padding: 40px;
    color: white;
    border: solid 2px black;
    border-radius: 30px;
    width: 1000px;
    height: 500px;
    background-color: black;

    img{
        padding: 20px;
        height: 400px;
        border-radius: 50px;
    }

    p{
        font-size: 20px;
    }

    .titulo{
        text-align: center;
        margin: 40px;
        font-family: 'Supernatural';
    }
}

#dean , #bobby{
    margin-top: 0;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    background-color: white;
    padding: 10px;
    border-top: solid 4px black;
    img{
        width: 80px;
    }
}

.indv-desc:hover{
    transition: 2s;
    scale: 1.2;
}

.indv-desc{
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      translate: -100vw 0;
    }
    
    to {
      opacity: 1;
      translate: 0 0;
    }
}

.indv-desc p{
    font-family: 'Quicksand';
}

nav{
    font-family: 'Quicksand';
}